{% extends 'base/base.html' %}
{% block body %}
    {% set bebida=bebida or None %}
    {% set erros=erros or None %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <br/>

                <div class="well">
                    <h1 class="text-center">Formulário de Bebidas</h1>

                    <form action="{{ save_path }}" method="post" role="form">

                        {{ csrf_input() }}
                        {{ form_input(_('Nome'),'nome',bebida.nome,erros.nome) }}
                        {{ form_input('Preço','preco',bebida.preco,erros.preco) }}
                        {{ form_input('Endereço da imagem','endImg',bebida.endImg,erros.endImg) }}
                        <!--{{ form_input('Tipo da bebida','tipo',bebida.tipo,erros.tipo) }}-->

                        <!--<label>Tipo de bebida</label>
                        <select name="tipo" value="bebida.tipo">
                            {% for tipo in lista_tipos %}
                                <option value="{{ tipo.key }}">{{ tipo.key.id() }} - {{ tipo.descricao }}</option>
                            {% endfor %}
                        </select>-->

                        <button type="submit" class="btn btn-success">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}