{% extends 'bebidas/base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}This is a generic home for bebida_app {% endtrans %}  </h1>
                {% if _logged_user and ('ADMIN' in _logged_user.groups) %}
                <a href="{{ admin_path }}" class="btn btn-success">{% trans %}Admin{% endtrans %}</a>
                {% endif %}
                <hr/>
                <h2>{% trans %}List of Bebidas{% endtrans %}</h2>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{% trans %}Preco{% endtrans %}</th>
                        <th>{% trans %}EndImagem{% endtrans %}</th>
                        <th>{% trans %}Nome{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bebida in bebidas %}
                        <tr>
                            <td>{{ bebida.preco }}</td>
                            <td>{{ bebida.endImagem }}</td>
                            <td>{{ bebida.nome }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}