{% extends 'base/base.html' %}
{% block body %}
    {% set bebida=bebida or None %}
    {% set erros=erros or None %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>Bebidas</h1>

                <!--{% if _logged_user and ('ADMIN' in _logged_user.groups) %}
                <a href="{{ admin_path }}" class="btn btn-success">Admin</a>
                {% endif %}-->

                <hr/>
                <h2>Lista de Bebidas</h2>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Editar</th>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Deletar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bebida in bebida_lista %}
                        <tr>
                            <td>
                                <a href="{{ bebida.edit_path }}" class="btn btn-success btn-sm">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                            </td>
                            <td>{{ bebida.nome }}</td>
                            <td>{{ bebida.preco }}</td>
                            <td>
                                <form action="{{ bebida.delete_path }}" method="post" onsubmit="return confirm('{{_('Are you sure to delete? Press cancel to avoid deletion.')}}');">
                                    {{ csrf_input() }}
                                    <button class="btn btn-danger btn-sm"><i
                                            class="glyphicon glyphicon-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}